* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
  .navbar {
    background: #DD35AE;  
    height: 70px;
  }
  .dropbtn {
    background: none;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 52px;
    height: 52px;
  }

  .icon {
    background-image: url('../Icons/runningicon.png');
    background-size: cover;
    height: 35px;
    width: 35px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #db5ac6;
    border-radius: 6px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: #fff
  }
  
  .dropdown-content a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #DD35AE;; color: #ffff}
  
  .dropdown:hover .dropdown-content {display: block;}

  .log-out-btn {
    border: none;
    background-color: transparent;
    color: #fff;
    font-size: 25px;
    margin-left: 200px;
  }
  
  }

