* {
    box-sizing: border-box;
}
@media only screen and (min-width: 401px) {
body {
    display: none;
}
}


@media only screen and (max-width: 400px) {
    .message-form {
        height: 76px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 26px 20px 26px 48px;
    }

    .message-input {
        border: none;
        color: #363A44;
        flex-grow: 1;
        width: 300px;
        height: 50px;
        border-radius: 25px;
        background: #E5E5E5;
        box-shadow: 25px 25px 25px rgba(0, 0, 0, 0.25);
        text-align-last: center;
    }

    .message-input:focus {
        outline: none;
    }

    .message-button {
        background-image: url('../Icons/stripe.png');
        background-color: transparent;
        background-size: cover;
        border: none;
        width: 22px;
        height: 20px;
        color: none;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .line{
        margin: 0;
    }
}